
    /*PHONE*/
@media all and  (max-width:425px) {

    /*HEADER*/

    body>header>nav{
        display: none;
    }

     body>header>div:first-child>a{

         /*display: none;*/

         /*margin-left: 21vw;*/
    }



    /*HOME*/














    /*ABOUT*/
    /*SKILL*/
    /*EDU*/
    /*PROJECT*/
    /*CONTACT*/

}

    /*TAB*/
@media all and  (max-width:765px) {

    /*HEADER*/

    body>header>nav{
        display: none;
    }

    body>header>div:first-child>a{

        margin-left: 32vw;

    }


    /*HOME*/

    #home {
        grid-template-columns: 1fr; /* Single clome ekk gatta */
        grid-template-rows: auto auto; /*poto eka fist ,text bottm*/
        height: auto;


        padding: 20px 0px 30px 0px;
    }


    #home>div {
        position: static;
    }

    #home>div>div {
        position: static; /* Reset positioning */
        margin: 0 auto;
        text-align: center;
    }

    #home>div:first-child {
        order: 2;
    }







    /*ABOUT*/
    /*SKILL*/
    /*EDU*/
    /*PROJECT*/
    /*CONTACT*/
}
