
    /*PHONE*/
@media all and  (max-width:425px) {

    /*HEADER*/

    body>header>nav{
        display: none;
    }

     body>header>div:first-child>a{

         /*display: none;*/

         /*margin-left: 21vw;*/
    }



    /*HOME*/

    #home>div>div {
        /*padding: 0 10px;*/
    }

    #home>div:first-child>div>h1 {
        font-size: 40px;
    }

    #home>div:first-child>div>h2 {
        font-size: 24px;
    }

    #home>div:first-child>div>h3 {
        font-size: 24px;
    }

    .connect-button {
        font-size: 12px;
        padding: 8px 16px;
    }

    .profile-picture-container>img {
        width: 100%;
        max-width: 250px;
    }



    /*ABOUT*/


    #about {
        padding: 5px 10px;
    }

    .profile-picture-container img {
        max-width: 250px;
    }

    #about>div:last-child>div>h2 {
        font-size: 28px;
    }

    #about>div:last-child>div>h4 {
        font-size: 18px;
    }

    #about>div:last-child>div>p {
        font-size: 14px;
    }

    .connect-button {
        font-size: 12px;
        padding: 8px 16px;
    }







    /*SKILL*/
    /*EDU*/
    /*PROJECT*/
    /*CONTACT*/

}

    /*TAB*/
@media all and  (max-width:765px) {

    /*HEADER*/

    body>header>nav{
        display: none;
    }

    body>header>div:first-child>a{

        margin-left: 32vw;

    }


    /*HOME*/

    #home {
        grid-template-columns: 1fr; /* Single clome ekk gatta */
        grid-template-rows: auto auto; /*poto eka fist ,text bottm*/
        height: auto;


        padding: 100px 0px 30px 0px;
    }


    #home>div {
        position: static;
    }

    #home>div>div {
        position: static;
        margin: 0 auto;
        text-align: center;
    }

    #home>div:first-child {
        order: 2;
    }

    #home>div:last-child {
        order: 1;
        margin-left: 0;
        text-align: center;
    }

    .profile-picture-container>img {
        width: 100%;
        max-width: 300px;
    }


    #home>div:first-child>div>h3{
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 30px;

    }
    #home>h3{
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 40px;

    }


    #home>div:first-child>div>h1{
        font-family: "Sen", sans-serif;
        font-size: 45px;


    }
    #home>div:first-child>div>h2{
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 12px;
    }

    #home>div:first-child>div>h2>mark {
        background-color:#E2E2E2;
        color: #A59D84;
        padding: 3px 5px;
        border-radius: 5px;
    }


    #home>div:first-child>div>p{
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }




    /*ABOUT*/


    #about {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: auto;
        /*padding: 5px 10px;*/
        /*padding: 5px 10px 10px 5px;*/

        padding: 90px 0px 31px 0px
    }


    #about>div {
        position: static;
    }

    #about>div>div {
        position: static;
        margin: 0 auto;
        text-align: center;
        /*left: 0;*/

    }

    #about>div {
        position: static; /
    }

    #about>div>div {
        position: static;
        margin: 0 auto;
        text-align: center;
        /*left: 0;*/

    }

    #about>div:first-child {
        order: 1;
    }

    #about>div:last-child {
        order: 2;
        /*margin-right: 0;*/

        margin-left: 100px;
        text-align: center;

    }


    .profile-picture-container img {
        max-width: 300px;
    }

    #about>div:last-child>div>h2 {
        font-size: 32px;
    }

    #about>div:last-child>div>h4 {
        font-size: 20px;
    }

    #about>div:last-child>div>p {
        font-size: 16px;
    }






    /*SKILL*/
    /*EDU*/
    /*PROJECT*/
    /*CONTACT*/
}
