
body{
    background-color:#E2E2E2;
}

header{
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 28px;
    padding: 10px 0;
    position: fixed;


    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav{

    display: flex;
    padding:  0.5px 35px;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap:50px;
    position: fixed;

}

nav ul li a {
    color: #000000;
    text-decoration: none;

}

nav ul li a:hover {
    color: #807d7d;
}

nav ul li:nth-child(2) {
    margin-left: 680px;
}

nav ul li:nth-child(3) {
    margin-left: 26px;
}
nav ul li:nth-child(1) {


    font-family: "Pacifico";
}
nav ul li {


    font-family: "Roboto Condensed";
}


nav > img{
    width: 30px; /* Set icon size */
    height: 30px;
    transition: transform 0.2s ease;
}
nav > img:hover {
    transform: scale(1.2); /* Enlarge icons on hover */

}




#home {

    padding: 132px 69px;
}

#home>h3{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;

}


#home>h1{
    font-family: "Sen";
    font-size: 75px;


}
#home>h2{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;
}

#home>p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*home connetion butt */
.connect-button {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 13px;
    background: #d8d0b2;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(40px);

}

.connect-button:hover {
    background: #c7b999;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
}



.profile-picture-container > img {
    padding: 17px 1px;
    width: 250px;
}


#about {

    padding: 195px 69px;
    background-color: #BDBDBD;
}


#skills {

    padding: 275px 69px;
}

#education {

    padding: 230px 69px;
}

#projects {

    padding: 230px 69px;
}

#contact {

    padding: 134px 69px;
}

#reachme {

    padding: 134px 69px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
}



.footer-content {
    margin: 0;
    padding: 5px 0;
    border-top: 1px solid #444;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
    text-align: center;

}




    .footer-section {
        flex: 1;
        min-width: 200px;
        margin: 10px;
    }

    .footer-section p {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .footer-section a {
        color: #fff;
        text-decoration: none;
    }

    .footer-section a:hover {
        text-decoration: underline;
    }