
body{
    background-color:#E2E2E2;
}

*{
    /*margin: 0;*/
    /*padding: 0;*/
    /*box-sizing: border-box;*/
}
html{
    scroll-behavior: smooth;
}

header{
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 28px;
    padding: 10px 0;
    position: relative;


    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



/*header {*/
/*    background-color: #F8F8F8;*/
/*        background-repeat: no-repeat;*/
/*        background-size: cover;*/
/*        background-position: center;*/
/*        width: 100%;*/
/*        height: 28px;*/
/*        padding: 10px 0;*/
/*        position: relative;*/
/*    display: flex;*/
/*}*/

/*header img {*/
/*    height: 40px;*/
/*    width: 40px;*/
/*}*/

/*header a {*/
/*    font-size: 1.5rem;*/
/*    text-decoration: none;*/
/*    color: #000;*/
/*    font-weight: bold;*/
/*    font-family: "Pacifico", sans-serif;*/
/*}*/

/*nav {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*nav ul {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    gap: 40px;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*nav ul li {*/
/*    font-family: "Roboto Condensed", sans-serif;*/
/*}*/

/*nav ul li a {*/
/*    text-decoration: none;*/
/*    color: #000;*/
/*    font-weight: 500;*/
/*    transition: color 0.3s ease-in-out;*/
/*}*/

/*nav ul li a:hover {*/
/*    color: #807d7d;*/
/*}*/






#home>h3{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;

}


#home>h1{
    font-family: "Sen", sans-serif;
    font-size: 75px;


}
#home>h2{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;
}

#home>p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*home connetion butt */
.connect-button {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 13px;
    background: #d8d0b2;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-in-out;


}

.connect-button:hover {
    background: #c7b999;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);
}

.social-links a {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s, border 0.3s;
    gap: 50px;
}

.social-links a:hover {
    /*background-color: rgba(0, 0, 0, 0.5); !* Dark circle background *!*/
    border: 2px solid #000; /* Border around the circle */
}

.social-links a img {
    display: block;
}


.profile-picture-container > img {
    padding: 10px 0;
    width: 350px;
}


#about {

    padding: 195px 69px;
    background-color: #BDBDBD;
}


#skills {

    padding: 275px 69px;
}

#education {

    padding: 230px 69px;
}

#projects {

    padding: 230px 69px;
}

#contact {

    padding: 134px 69px;
}

#reachme {

    padding: 134px 69px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
}



.footer-content {
    margin: 0;
    padding: 5px 0;
    border-top: 1px solid #444;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
    text-align: center;

}




    .footer-section {
        flex: 1;
        min-width: 200px;
        margin: 10px;
    }

    .footer-section p {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .footer-section a {
        color: #fff;
        text-decoration: none;
    }

    .footer-section a:hover {
        text-decoration: underline;
    }