
body{
    background-color:#E2E2E2;
}

*{
    /*margin: 0;*/
    /*padding: 0;*/
    /*box-sizing: border-box;*/
}
html{
    scroll-behavior: smooth;
}

header{
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 28px;
    padding: 10px 0;
    position: fixed;

        z-index: 1000; /* Ensure it stays on top of other elements */

        /*top: 0; !* Ensure it sticks to the top *!*/
        /*left: 0; !* Ensure it aligns to the left *!*/


    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*header {*/
/*    background-color: #F8F8F8;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    width: 100%;*/
/*    height: 28px;*/
/*    padding: 10px 0;*/
/*    position: fixed;*/
/*    top: 0; !* Ensure it sticks to the top *!*/
/*    left: 0; !* Ensure it aligns to the left *!*/
/*    z-index: 1000; !* Ensure it stays on top of other elements *!*/
/*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
/*}*/

header>div>img{
    position: absolute;
    width: 30px;
    top: 10px;
    left: 10px;

}
header>div>a{
    display: flex;
    position: absolute;

    padding: 4px;
    left: 60px;

}


header nav{

    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    position: absolute;
    top: 0;
    right: 30px;
    /*left: 0;*/
    bottom: 0;
    margin: auto;
}


header nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    position: relative;
}


nav ul li a {
    color: #000000;
    text-decoration: none;

}

nav ul li a:hover {
    color: #807d7d;
}

header>div>a:hover {
    color: #807d7d;
}



nav ul li:nth-child(2) {
    margin-left: 26px;
}
header>div>a {
    color: #000000;

    text-decoration: none;


    font-family: "Pacifico", sans-serif;
}
nav ul li {


    font-family: "Roboto Condensed", sans-serif;
}



nav>div>img:hover {
    transform: scale(1.2); /* Enlarge icons on hover */

}

/*header {*/
/*    background-color: #F8F8F8;*/
/*        background-repeat: no-repeat;*/
/*        background-size: cover;*/
/*        background-position: center;*/
/*        width: 100%;*/
/*        height: 28px;*/
/*        padding: 10px 0;*/
/*        position: relative;*/
/*    display: flex;*/
/*}*/

/*header img {*/
/*    height: 40px;*/
/*    width: 40px;*/
/*}*/

/*header a {*/
/*    font-size: 1.5rem;*/
/*    text-decoration: none;*/
/*    color: #000;*/
/*    font-weight: bold;*/
/*    font-family: "Pacifico", sans-serif;*/
/*}*/

/*nav {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*nav ul {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    gap: 40px;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*nav ul li {*/
/*    font-family: "Roboto Condensed", sans-serif;*/
/*}*/

/*nav ul li a {*/
/*    text-decoration: none;*/
/*    color: #000;*/
/*    font-weight: 500;*/
/*    transition: color 0.3s ease-in-out;*/
/*}*/

/*nav ul li a:hover {*/
/*    color: #807d7d;*/
/*}*/


#home {
    position: relative;

    /*padding: 200px 100px;*/
    /*align-items: center;*/

    width: 100%;
    height: calc(100vh - 50px);


    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: repeat(1, 1fr);


}


#home>div{
    position: relative;
}



#home>div>div{
    width: fit-content;
    height: fit-content;

    position: absolute;
    left: 100px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    text-align: left;
}


#home>div:first-child>div>h3{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;

}
#home>h3{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;

}


#home>div:first-child>div>h1{
    font-family: "Sen", sans-serif;
    font-size: 65px;


}
#home>div:first-child>div>h2{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;
}

#home>div:first-child>div>h2>mark {
    background-color:#E2E2E2;
    color: #A59D84;
    padding: 3px 5px;
    border-radius: 5px;
}


#home>div:first-child>div>p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*home connen butt */
.connect-button {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 13px;
    background: #d8d0b2;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-in-out;


}

.connect-button:hover {
    background: #c7b999;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);
}

.social-links a {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s, border 0.3s;
    gap: 50px;
}

.social-links a:hover {
    /*background-color: rgba(0, 0, 0, 0.5); !* Dark circle background *!*/
    border: 2px solid #000; /* Border around the circle */
}

.social-links a img {
    display: block;
}


.profile-picture-container > img {
    padding: 10px 0;
    width: 400px;
    border-radius:20% ;
}


#about {

    position: relative;
    width: 100%;
    height: calc(100vh - 0px);


    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: repeat(1, 1fr);

    background-color: #BDBDBD;
}


#about>div{
    position: relative;
}

#about>div>div{
    width: fit-content;
    height: fit-content;

    position: absolute;
    left: -100px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    text-align: left;
}

#about>div:last-child>div{

    margin-right:100px;
}

#about>div:last-child>div>h2{
    font-family: "Sen", sans-serif;
    font-size: 40px;
}

#about>div:last-child>div>h2>mark{
    background-color:#BDBDBD;
    color: #909090;
    padding: 3px 5px;

}

#about>div:last-child>div>h4{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #ACA48D;
}

#about>div:last-child>div>p{

    font-family:  sans-serif;

}




#skills {

    background-color: #909090;
    position: relative;
    width: 100%;
    height: calc(100vh - 0px);

}
#skills>div>h2 {
    font-family: "Sen", sans-serif;

    text-align: center;
    padding: 100px 20px 20px 20px;


    font-size: 36px;
}
#skills>div>p {
    font-family: 'Arial', sans-serif;
    text-align: left;
    font-size: 20px;
    color: #3B4252;
    padding: 20px 52px;

}


#education {
    background-color: #444444;

    padding: 230px 69px;
}

#projects {
    background-color: aqua;

    padding: 230px 69px;
}

#contact {
    background-color: #333333;

    padding: 134px 69px;
}

#reachme {

    padding: 134px 69px;
}

/*#skills>div:last-child>div{*/
/*    background-color: #A59D84;*/
/*}*/

/*#skills>div:last-child>div>div:first-child>i{*/

/*    width: 50px;*/
/*    height: 30px;*/
/*}*/


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
}



.footer-content {
    margin: 0;
    padding: 5px 0;
    border-top: 1px solid #444;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
    text-align: center;

}




    .footer-section {
        flex: 1;
        min-width: 200px;
        margin: 10px;
    }

    .footer-section p {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .footer-section a {
        color: #fff;
        text-decoration: none;
    }

    .footer-section a:hover {
        text-decoration: underline;
    }